#competition_selector {
  width: 250px;
}

.block_btn {
  padding: 8px;
  display: block;
  text-align: center;
}

#competition_selector active {
  color: red;
  font-weight: bold;
}

#competition_name_edit {
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-bottom: 1px solid grey;
  font-size: 16px;
  text-align: center;
}

.d_del_container {
  vertical-align: middle;
}

.d_edit_name input {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 16px;
  text-align: center;
}

#competition_view td {
  vertical-align: top;
}

.discipline_title {
  text-align: center;
}

.inithide {
  display: none;
}

#penalties_edit {
  width: 300px;
}

#gates_edit {
  width: 300px;
}

.gp_apply {
  display: none;
}

.block {
  border: 1px black solid;
}

.block_hdr {
  padding: 6px;
}

#error_view {
  position: fixed;
  background-color: red;
  padding: 8px;
}

.gate_selector {
  display: none;
}

.gate_selector + ::after {
  width: 40px;
  text-align: center;
  display: block;
  background-color: gray;
  padding: 6px;
  cursor: pointer;
}

.gate_selector:checked + ::after {
  background-color: green;
}

#error_text {
  text-align: center;
  padding: 8px;
}

.block_hdr_prev_btn {
  float: left;
}

.block_hdr_title {
  padding: 8px;
  text-align: center;
}
